.main-contact {
    width: calc(100% - 140px);
    padding: 180px 70px 17px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

    padding-top: 180px !important;
    background-color: #212021 !important;

    .contact-container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .contact-column {
            display: flex;
            flex-direction: column;
            align-items: start;

            .column-header {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #919FA7;
                margin-bottom: 16px;
            }

            .column-adress {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                margin-bottom: 8px;
                transition: all 0.3s ease;

                &:hover {
                    color: #bb240d;
                }
            }

            .column-caption {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }

            .column-link {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 8px;
                color: #FFFFFF;
                transition: all 0.3s ease;

                &:hover {
                    color: #bb240d;
                }

            }

            .social-container {
                display: flex;
                width: 100%;

                .social-circle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 12px;
                    width: 44px;
                    height: 44px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: all 0.3s ease;

                    img {

                        transition: all 0.3s ease;
                    }

                    &:hover {
                        background-color: rgba($color: #212021, $alpha: 0.5);

                        img {

                            transition: all 0.3s ease;
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }


}

.map-container {
    margin-top: 60px;
    width: 100%;
    height: 400px;

    #map {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .main-contact {
        width: calc(100% - 40px);
        padding: 180px 20px 17px;
    }
}

@media screen and (max-width: 700px) {
    .main-contact .contact-container {
        flex-direction: column;
    }

    .main-contact .contact-container .contact-column {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .main-contact {
        padding-top: 100px !important;
    }

    .main .header-container .header-bar {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .main-contact .contact-container .contact-column {
        margin-bottom: 40px;
    }
}

.main .header-container .header-bar {
    background: linear-gradient(90deg, #ff8000 0%, rgba(255, 0, 4, 0) 99.23%);
}