@media screen and (max-width: 960px) {
    .header {
        display: none;
    }

    .section-container {
        flex-direction: column;
    }

    .section--benefits {
        padding: 80px 40px;

        .image-pagination {
            max-width: 100%;
        }
    }

    .section--benefits {
        width: calc(100% - 80px);
    }

    .section--benefits .image-presentation {
        width: 100%;
        max-width: 100%;
    }

    .mobile-header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #212121;
        z-index: 1000;
        width: calc(95vw);
        height: 39px;
        padding: 23px 2.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: #363636 1px solid;

        &__burger-menu {
            width: 24px;
            height: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            transition: all 0.3s ease;

            span {
                background-color: #fff;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                transition: all 0.3s ease;
            }
        }

        &__burger-menu--active {
            width: 32px;
            height: 32px;
            transition: all 0.3s ease;

            .cross-one--mobile {
                position: absolute;
                transform: rotate(45deg);
                margin: auto;
                top: 0;
                bottom: 0;
            }

            .cross-two--mobile {
                position: absolute;
                transform: rotate(-45deg);
                margin: auto;
                top: 0;
                bottom: 0;
            }

            .cross-left {
                opacity: 0;
            }
        }
    }

    .mobile-menu {
        position: fixed;
        top: 86px;
        left: 0;
        z-index: 1000;
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        background-color: #212121;
        width: calc(95vw);
        height: calc(100vh - 105px);
        padding: 0 2.5vw;
        padding-top: 40px;
        transition: all 0.3s ease;
        transform: translateX(120vw);

        .navigation {
            flex-direction: column;
            width: 100%;
            align-items: start;
            margin-bottom: 32px;
            height: fit-content;

            &-link {
                font-size: 24px;
                margin-bottom: 12px;
            }
        }

        .contacts {
            font-size: 16px;
            margin-bottom: 32px;

            a {
                font-size: 24px;
            }
        }

        .apply {
            width: 100%;
            justify-content: flex-start;
        }

        .apply-btn {
            width: 100%;
            max-width: 480px;
        }

        &--active {
            transform: translateX(0);
            display: flex;
        }
    }

    .section {
        &--process {
            padding: 80px 40px 80px 40px;

            .section-list {
                display: none;
            }

            .section-menu {
                .menu-item {
                    max-width: calc(100% - 80px);
                }
            }
        }

        .menuPosition {
            margin-left: 0;
        }

        &--ability {
            padding: 80px 217px 80px 40px;
            height: 1050px;

            .section-container {
                flex-direction: row;
                height: fit-content;
                justify-content: flex-start;

                .ability-row {
                    height: 350px;
                    flex-direction: column;
                    margin-bottom: 0;
                    margin-right: 40px;
                    width: fit-content;

                    .ability-card {
                        width: 40vw;
                        min-height: 270px;
                        padding: 28px 20px 10px;
                        margin-right: 0;
                        margin-bottom: 40px;

                        .ability-image {
                            width: fit-content;
                            height: fit-content;
                            display: flex;
                            margin-bottom: 0;

                            img {
                                width: 90%;
                                height: 90%;
                                object-fit: contain;
                            }
                        }

                        .ability-header {
                            font-size: 18px;
                        }

                        .ability-description {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        &--help {
            padding: 80px 40px 80px 40px;

            .section-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% - 80px);

                .faq-container {
                    width: calc(100%);
                }

                .faq-image {
                    width: calc(100%);
                    margin-left: 0;
                }
            }
        }
    }
}