.main-service {

    background-color: #212121 !important;
}

.main {


    &--buy {
        padding: 180px 70px 70px;
        width: calc(100% - 140px);
        background-color: #212121;
    }

    .buy-parent {

        background: radial-gradient(135.89% 108.41% at 96.93% 46.23%, rgba(212, 184, 156, 0.3) 0%, rgba(255, 255, 255, 0) 100%);


        .container {
            display: flex;
            align-items: start;
            justify-content: flex-start;
        }

        .swiper-container {
            width: calc(50% - 12px);
            height: 450px;
            position: relative;
            overflow-x: hidden;
            margin-right: 12px;
            left: -12px;
            background-size: cover;
            background-position: center;
        }

        &__info {
            width: calc(50% - 12px);
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__section {
            margin-bottom: 24px;
            background-color: $low;
            padding: 40px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            align-items: start;

            .container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
            }
        }

        &__card {
            width: 50%;
            margin-bottom: 35px;

            .card-container {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            &:nth-child(2n+1) {
                width: calc(50% - 24px);
                margin-right: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(5) {
                margin-bottom: 0;
            }

            .card-logo {
                margin-bottom: 11px;
            }

            .card-header {
                color: $main;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 8px;
            }

            .card-description {
                color: $main_additional;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__product-header {
            font-weight: 700;
            font-size: 38px;
            line-height: 38px;
            color: $main;
            font-family: 'Geometria';
            margin-bottom: 8px;
        }

        &__product-description {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
            margin-bottom: 24px;
            width: 100%;
        }

        &__product-color {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $main_additional;
            margin-bottom: 45px;

            .color-container {
                display: flex;
                margin-top: 12px;

                .color-box {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-right: 8px;

                    &:hover {
                        .checkmark {
                            border: 1px solid $primary;
                        }
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 30px;
                        background-color: #fff;
                        border-radius: 8px;
                        border: 1px solid $high;

                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 22px;
                            height: 22px;
                            top: 4px;
                            left: 4px;
                            background-color: #F1D473;
                            border-radius: 4px;
                        }
                    }

                    #lightGreen+.checkmark {
                        &:after {

                            background-color: #BBC8B8;
                        }
                    }

                    #red+.checkmark {
                        &:after {

                            background-color: #F2685D;
                        }
                    }

                    #darkGreen+.checkmark {
                        &:after {

                            background-color: #6D7B70;
                        }
                    }

                    #blue+.checkmark {
                        &:after {

                            background-color: #3D4A5B;
                        }
                    }

                    #white+.checkmark {
                        &:after {

                            background-color: #FBF8F4;
                        }
                    }

                    #pink+.checkmark {
                        &:after {

                            background-color: #EFD5D4;
                        }
                    }
                }

                .color-box input:checked~.checkmark {
                    border: 2px solid $primary;
                }
            }
        }

        &__row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        &__price-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-right: 20px;
        }

        &__price-tag {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            background: $gradient_dark;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 4px;
        }

        &__caption {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $main_additional;
        }

        .modal-button {

            background: linear-gradient(360deg, #ff8000 0%, #f99f38 100%);
            box-shadow: 0 4px 12px rgb($color: #ff8000, $alpha: 40%);
            text-shadow: none !important;
            margin-right: 20px !important;
        }

        &__button {
            padding: 20px 30px;
            transition: all .3s ease;
            text-align: center;
            color: #fff;
            border: none;
            border-radius: 8px;
            outline: none;
            background: linear-gradient(360deg, #bb240d 0%, #e45649 100%);
            box-shadow: 0 4px 12px rgb(222 77 64 / 40%);
            align-items: center;
            justify-content: center;
            margin-right: 0px;
            font-weight: 700;
            font-size: 13px;
            line-height: 24px;
            border-radius: 12px;
            padding: 16px 0;
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);

                background: linear-gradient(360deg, #F2685D 0%, #e45649 100%);
            }

            &:active {
                background: $red;
            }
        }

        .flex-card {
            padding: 24px 40px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            background-color: $low;
            margin-bottom: 12px;
            border-radius: 20px;
            overflow-y: hidden;
            flex: 1;
            max-height: 24px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $additional;
            }

            &--active {
                flex: 1;
                max-height: 600px;

                .open-indicator {
                    position: absolute;
                    right: 45px;
                    top: 32px;
                    transform: rotate(180deg);
                }

                .flex-card__base-row {
                    margin-bottom: 40px;
                }
            }

            &__base-row {
                display: flex;
                margin-bottom: 60px;

                transition: all 0.3s ease;
            }

            &__opening-row {
                display: flex;
                align-items: center;
                width: 100%;
            }

            &__content {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .content-column {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    &__logo {
                        margin-bottom: 17px;
                    }

                    &__header {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: $main;
                    }

                    &__subheader {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: $main_additional;
                    }
                }
            }

            &__header {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                margin-left: 14px;
                color: $main;

                transition: all 0.3s ease;
            }

            .open-indicator {
                position: absolute;
                right: 45px;
                top: 32px;

                transition: all 0.3s ease;
            }
        }

    }
}


@media screen and (max-width: 1300px) {
    .main .main_welcome-section {
        width: calc(100% - 20px);
        max-width: calc(100% - 135px);
    }

    .main .main__actions {
        width: calc(100% - 140px) !important;
        padding: 40px 70px 28px !important;
        background-color: rgb(43, 43, 45) !important;
    }

    .main .main_services-section {
        width: calc(100% - 140px) !important;
        padding: 0px 70px !important;
    }

    body .main .form-parent .form-container {
        padding: 40px 70px !important;
        width: calc(100% - 140px) !important;
    }
}

@media screen and (max-width: 1200px) {
    .main .section_content .section-header {
        font-size: 12px;
        line-height: 16px;
    }

    .main .section_content {
        height: 54px;
    }

    .main .buy-parent .swiper-container {
        width: calc(40% - 12px);
    }

    .main .buy-parent__info {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .main .main_number-application-form {
        position: static;
        width: calc(60% - 40px);
    }

    .main .main_welcome-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-top: 180px;

        .welcome-section_header {
            width: 100%;
            text-align: center;
        }

        .welcome-section_subheader {
            margin-bottom: 40px;
            width: 100%;
            text-align: center;
        }
    }

    .main__actions .action-container .action-image__content {
        font-size: 14px;
        line-height: 18px;
    }

    .main .section_content {
        width: calc(48% - 40px);

        &:nth-child(2n) {
            width: calc(48% - 40px);
            margin-right: 0;
        }
    }

    .main .main_services-section {
        height: 80vh;
    }

    .main .header-section-header {
        font-size: 30px !important;
        line-height: 36px !important;
        width: 100% !important;
    }

    .main .buy-parent .container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .main .buy-parent .swiper-container {
        width: calc(100%);
        position: static;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .main .buy-parent__info {
        width: 100%;
        margin-left: 0;
    }

    .main .buy-parent__price-container {
        margin-right: auto;
    }
}

@media screen and (max-width: 900px) {
    .main .main_number-application-form {
        width: calc(80% - 40px);
    }

    .main .main_welcome-section {
        padding-bottom: 40px;
    }

    .main-typical {
        .main_intro-section {
            align-items: flex-start !important;
        }
    }
}

@media screen and (max-width: 800px) {
    .main .main_welcome-section {
        width: calc(100% - 20px);
        max-width: calc(100% - 40px);
    }

    .main .main__actions {
        width: calc(100% - 40px) !important;
        padding: 40px 20px 28px !important;
        background-color: rgb(43, 43, 45) !important;
    }

    .main .main_services-section {
        width: calc(100% - 40px) !important;
        padding: 0px 20px !important;
    }

    body .main .form-parent .form-container {
        padding: 40px 20px !important;
        width: calc(100% - 40px) !important;
    }

    .main-typical {
        .main_intro-section {
            flex-direction: column;
            align-items: start;
        }


    }

    .main-typical .main_intro-section .intro-section__block,
    body .main-typical .main_intro-section .second-block {

        width: calc(100% - 40px) !important;
        padding: 20px !important;
        align-items: center;
    }

    .main-typical .main__actions .action-container .action-image {
        margin-right: 0;
        width: 100%;
    }

    .main--buy {
        width: calc(100% - 40px);
        padding: 100px 20px 70px;
    }

    .main .buy-parent .swiper-container {
        height: 350px;
    }
}

@media screen and (max-width: 700px) {
    .main .welcome-section_header {
        font-size: 40px;
        line-height: 46px;
    }

    .main .welcome-section_subheader {
        font-size: 18px;
        line-height: 22px;
    }

    .main .section_content {
        width: calc(100% - 40px) !important;
        margin-right: 0 !important;
    }

    .main .services-section:last-child {
        margin-bottom: 0 !important;
    }

    .main .main_services-section {
        height: fit-content;
        padding-bottom: 180px !important;
    }
}

@media screen and (max-width: 600px) {
    .main .main_number-application-form {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 500px) {
    .main .header-section-header {
        font-size: 24px !important;
        line-height: 30px !important;
        width: 100% !important;
    }

    .main .main_welcome-section {
        padding: 100px;
    }

    .main .welcome-section_header {
        font-size: 28px;
        line-height: 34px;
    }

    .main .welcome-section_subheader {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 550px) {

    .main .buy-parent__row {
        flex-direction: column;
        align-items: start;
    }

    .main .buy-parent__price-container {
        margin-bottom: 20px;
    }

    .main .buy-parent__button {
        width: 100%;
        margin-bottom: 20px;
    }
}