doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кардан Сервис: Главная страница
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo_custom.svg", type="image/x-icon")
    body 
    include ./header.pug
    main.main 
        section.section.section--greeting 
            .swiper.swiper-greeting#greetingSwiper
                .swiper-wrapper 
                    .swiper-slide 
                        .slider-container.container--kardan
                            .header Ремонт и изготовление карданных валов
                            .subheader Наши мастера выявят все дефекты и устранят их
                            .apply-btn Оставить заявку
                    .swiper-slide 
                        .slider-container.container--rotor
                            .header Балансировка и обслуживание роторов
                            .subheader Наши мастера выявят все дефекты и устранят их
                            .apply-btn Оставить заявку
                    .swiper-slide 
                        .slider-container.container--turbo
                            .header Ремонт и обслуживание турбин
                            .subheader Наши мастера выявят все дефекты и устранят их
                            .apply-btn Оставить заявку
                    .swiper-slide 
                        .slider-container.container--shop
                            .header Наш интернет-магазин
                            .subheader Узнайте, какие услуги актуальные и сколько они стоят
                            .apply-btn Перейти
                .swiper-pagination 
                .swiper-navigation 
                    .swiper-button-prev 
                    .swiper-button-next
        section.section.section--menu
            .button-container 
                .button-toggler#serviceButton услуги
                .button-toggler.button-toggler--active#shopButton интернет-магазин
            .menu-container
                .container.container--show 
                    .container-navigation 
                        .content-toggler.content-toggler--active#kardan  
                            .logo 
                                img(src="./assets/images/content/cardan.svg", alt="")
                            .caption Ремонт карданов
                        .content-toggler#turbo 
                            .logo 
                                img(src="./assets/images/content/turbo.svg", alt="")
                            .caption Ремонт турбин
                        .content-toggler#rotor 
                            .logo 
                                img(src="./assets/images/content/rotor.svg", alt="")
                            .caption Балансировка роторов
                        .content-toggler#treat
                            .logo.treat  
                                img(src="./assets/images/content/treat.svg", alt="")
                            .caption Механическая обработка
        section.section.section--screens
            .adaptive-screen.screen-hidden#kardan-screen 
                .adaptive-screen__container.screen-container 
                    .box.kardan-repair
                        img(src="./assets/images/content/main_bg.jpg", alt="") 
                        .special-container 
                            .special-container__title Ремонт карданов
                            .special-container__title-big Профессиональное обслуживание карданов
                            .special-container__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a(href='/kardan').special-container__button Узнать больше
                    .box.turbo-repair   
                        .special-container 
                            .special-container__title Ремонт турбин
                            .special-container__title-big Профессиональное обслуживание турбин
                            .special-container__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a(href='/turbo').special-container__button Узнать больше
                        img(src="./assets/images/content/main_bg.jpg", alt="") 
                    .line-container Профессиональное обслуживание
                    .box.all-repair   
                        .special-container 
                            .special-container__title Балансировка роторов
                            .special-container__title-big Балансировка роторов
                            .special-container__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a(href='/rotor').special-container__button Узнать больше
                        .special-container 
                            .special-container__title Механическая обработка
                            .special-container__title-big Механическая обработка
                            .special-container__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a(href='/treatment').special-container__button Узнать больше
                    
            .adaptive-screen.screen-active#shop-screen 
                .adaptive-screen--container
                    a(href="kardan-shop").link-half
                        .adaptive-screen__header Интернет-магазин карданов
                        img(src="./assets/images/content/main_bg.jpg" alt="")
                    a(href="turbo-shop").link-half
                        .adaptive-screen__header Интернет-магазин турбин
                        img(src="./assets/images/content/main_bg.jpg" alt="")


                    
        section.section.sectin--form  
    include ./footer.pug
    script(src="./assets/js/jquery.min.js")
    script(src="./assets/js/plugins.min.js")
    script(src="./assets/js/main.min.js")   