doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кардан Сервис: Главная страница
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo_custom.svg", type="image/x-icon")
    body 
    include ./header.pug
    main.main 
        section.section.section--greeting 
            .swiper.swiper-greeting#greetingSwiper
                .swiper-wrapper 
                    .swiper-slide 
                        .slider-container.container--kardan
                            .header Ремонт и изготовление карданных валов
                            .subheader Наши мастера выявят все дефекты и устранят их
                            .apply-btn Оставить заявку
                    .swiper-slide 
                        .slider-container.container--rotor
                            .header Балансировка и обслуживание роторов
                            .subheader Наши мастера выявят все дефекты и устранят их
                            .apply-btn Оставить заявку
                    .swiper-slide 
                        .slider-container.container--turbo
                            .header Ремонт и обслуживание турбин
                            .subheader Наши мастера выявят все дефекты и устранят их
                            .apply-btn Оставить заявку
                    .swiper-slide 
                        .slider-container.container--shop
                            .header Наш интернет-магазин
                            .subheader Узнайте, какие услуги актуальные и сколько они стоят
                            .apply-btn Перейти
                .swiper-pagination 
                .swiper-navigation 
                    .swiper-button-prev 
                    .swiper-button-next
        section.section.section--menu
            .button-container 
                .button-toggler.button-toggler--active услуги
                .button-toggler интернет-магазин
            .menu-container
                .container.container--show 
                    .container-navigation 
                        .content-toggler.content-toggler--active  
                            .logo 
                                img(src="./assets/images/content/cardan.svg", alt="")
                            .caption Ремонт карданов
                        .content-toggler 
                            .logo 
                                img(src="./assets/images/content/turbo.svg", alt="")
                            .caption Ремонт турбин
                        .content-toggler 
                            .logo 
                                img(src="./assets/images/content/rotor.svg", alt="")
                            .caption Балансировка роторов
                        .content-toggler
                            .logo.treat  
                                img(src="./assets/images/content/treat.svg", alt="")
                            .caption Механическая обработка
        section.section.sectin--form  
    include ./footer.pug
    script(src="./assets/js/jquery.min.js")
    script(src="./assets/js/plugins.min.js")
    script(src="./assets/js/main.min.js")   