html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./assets/images/content/logo_custom.svg", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
        title Товары
    body.staff-body 
        include ./header.pug
        main.main.main-staff
            .breadcrumbs Главная / Товары 
            .header-container
                .header 
                    | Онлайн-магазин
                .header-bar
            .section 
                .section__header-container 
                    .header Секция 1
                    .amount 5 товаров
                .staff-container
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)")
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)")
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
            .section 
                .section__header-container 
                    .header Секция 2
                    .amount 3 товара
                .staff-container
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 5 800 ₽
            .section 
                .section__header-container 
                    .header Секция 3
                    .amount 4 товара
                .staff-container 
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 280 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 350 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 230 ₽
                    .container-card(style="background: linear-gradient( 360deg, rgba(26, 47, 68, 0.9) 0%, rgba(26, 47, 68, 0) 100%), url(./assets/images/content/main_bg.jpg)") 
                        .container-card__name Товар
                        .container-card__price 400 ₽

        include ./footer.pug
         script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")   